body {
  margin: 0;
  height: 100vh;
  background: #d6f0ff;

  display: flex;
  align-items: center;     /* vertical center */
  justify-content: flex-start; /* left side */

  padding-left: 120px;     /* yahan se control hoga */
}

h1 {
  font-size: 60px;
}
